@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
:root {
  --primary: #059669;
  --primary-light: #6ee7b7;
  --primary-dark: #064e3b;
}
body {
  background-color: var(--primary);
  font-family: "Langar", cursive;
  letter-spacing: 0.125rem;
}
.App {
  text-align: center;
}
h1 {
  color: var(--primary-light);
  background-color: var(--primary-dark);
  border-radius: 10px;
}
.highlighted-text {
  color: white;
}
input {
  padding: 0.5rem;
  border: 5px solid var(--primary-dark);
  background-color: var(--primary-light);
  width: 60%;
  text-align: center;
  margin: auto;
  height: 2rem;
}
::placeholder {
  color: black;
}
.output {
  color: black;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 60%;
  font-size: 1.25rem;
}
.emojis {
  display: inline;
  line-height: 3;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary-light);
  border: 5px solid var(--primary-dark);
}
.emojis:hover {
  background-color: var(--primary-dark);
  border: 5px solid var(--primary-light);
}
p {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-weight: lighter;
  letter-spacing: 0.05rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: left;
}
.credit {
  display: inline;
  float: right;
  background-color: var(--primary);
  color: black;
  padding: 0rem;
  margin-top: 0;
}
a {
  color: white;
  text-decoration: none;
}
